<robot name="pestle"  xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="stl_file_path" value="package://kek_scene_description/mesh/jig_pestle_140.stl" />
  
  <link name="base_link"/>
  
  <joint name="pestle_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="pestle_link"/>
  </joint>
  <link name="pestle_link">
    <visual>
      <geometry>
        <mesh filename="${stl_file_path}" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>

</robot>