<launch>
    <arg name="comport" default="/dev/ttyUSB0" />
    <node name="leptrino" pkg="grinding_force_torque" type="leptrino_force_torque"
        output="screen">
        <param name="com_port" value="$(arg comport)" />
    </node>

    <node name="ft_filter" pkg="grinding_force_torque" type="ft_filter.py"
        args="-z -t 'leptrino/force_torque'"
        output="screen" />
</launch>  
   
  