<launch>
    <arg name="FT_sensor_under_mortar_topic" default="/leptrino/force_torque/filtered" />
    <arg name="UR_FT_sensor_topic" default="/wrench/filtered" />
    <arg name="zero_wrench_under_mortar_service" default="/leptrino/force_torque/filtered/zero_ftsensor" />
    <arg name="zero_wrench_UR_service" default="/wrench/filtered/zero_ftsensor" />
    
    <arg name="wrench_statistics_service" default="/wrench_statistics" />

    <arg
        name="planning_scene_config"
        default="$(find grinding_motion_routines)/config/UR5e_grinding_room_903/planning_scene_config.yaml" />
    <arg
        name="calibration_config"
        default="$(find grinding_motion_routines)/config/UR5e_grinding_room_903/calibration_config.yaml" />
    
    <arg name="comport" default="/dev/ttyUSB0" />

    <!-- Launch F/T sensor -->
    <node name="leptrino" pkg="grinding_force_torque" type="leptrino_force_torque"
        output="screen">
        <param name="com_port" value="$(arg comport)" />
    </node>

    <!-- Launch F/T sensor filter -->
    <!-- <include file="$(find grinding_force_torque)/launch/leptrino.launch" /> -->
    <node name="leptrino_ft_filter" pkg="grinding_force_torque" type="ft_filter.py"
    args="-z -t 'leptrino/force_torque'"
    output="screen" />
    <node name="UR_ft_filter" pkg="grinding_force_torque" type="ft_filter.py"
    args="-z -t 'wrench'"
    output="screen" />

    
    <!-- Launch abs force publisher -->
    <node name="UR_abs" pkg="grinding_force_torque" type="abs_force_publisher.py"
    output="screen" >
    <param name="wrench_topic" value="$(arg UR_FT_sensor_topic)" />
    </node>
    <node name="leptrino_abs" pkg="grinding_force_torque" type="abs_force_publisher.py"
    output="screen" >
    <param name="wrench_topic" value="$(arg FT_sensor_under_mortar_topic)" />
    </node>
    
    <!-- Launch calibration -->
    <node name="wrench_statistics" pkg="grinding_force_torque" type="wrench_statistics.py" output="screen">
        <param name="wrench_topic" value="$(arg FT_sensor_under_mortar_topic)" />
        <param name="wrench_statistics_service" value="$(arg wrench_statistics_service)" />    
    </node>
    
    <node name="mortar_position_fine_tuning"
        pkg="grinding_motion_routines"
        type="calibrate_mortar_position.py"
        output="screen">
        <param name="FT_sensor_under_mortar_topic" value="$(arg FT_sensor_under_mortar_topic)" />
        <param name="zero_wrench_under_mortar_service" value="$(arg zero_wrench_under_mortar_service)" />
        <param name="UR_FT_sensor_topic" value="$(arg UR_FT_sensor_topic)" />
        <param name="zero_wrench_UR_service" value="$(arg zero_wrench_UR_service)" />
        <rosparam command="load" file="$(arg planning_scene_config)" />
        <rosparam command="load" file="$(arg calibration_config)" />
    </node>
</launch>