<?xml version="1.0"?>
<launch>
  <arg name="realsense_init" default="false" />
  <!-- RealSense -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="initial_reset" value="$(arg realsense_init)" />
  </include>

  <!-- powder detector -->
  <node name="powder_detector" pkg="grinding_vision" type="diagonal_vision.py" output="screen">
    <!-- <param name="threshold" value="" /> -->
  </node>
</launch>