<?xml version="1.0"?>
<launch>

  <!-- RealSense -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

  <!-- Publish calibrated camera optical frame -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
    args="0.0613365 -0.0300657 -0.0230665   -0.00526906 -0.0120911 0.710303 0.703773 tool0 calibrated_camera_color_optical_frame" />

  <!-- Estimate Mortar Position -->
  <rosparam file="$(find grinding_vision)/config/mortar_position_detector.yaml" command="load" />
  <node pkg="grinding_vision" type="mortar_position_estimater.py" name="mortar_detector"
    output="screen" />

</launch>