<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a
  URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for
  more info. -->
  <!-- xyz="-0.0147918 -0.000782691 -0.050422" rpy="0.0053461 3.11399 0.0150722" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
    args="-0.0147918 -0.000782691 -0.050422   0.00757219 0.999873 0.00277672 0.0137805 flange camera_color_optical_frame" />
</launch>